body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100vh;
  background-color: #8B0000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0 10px 0;
}

h1 {
  text-align: center;
  color: #8B0000;
  margin: 20px 0;
}

.contenido {
  margin-left: 80px;  
  margin-top: 60px;   
  padding: 20px;
}

.user img,
.settings img {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px; 
}

.seleccion{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin: 30px 0 0px;
}

.menu img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.topbar {
  position: fixed;
  top: 0;
  left: 80px;               
  height: 60px;             
  width: calc(100% - 80px); 
  background-color: #f5f5f5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 -40px;        
  box-shadow: 0 2px 5px rgba(252, 0, 0, 0.1);
}

.topbar img {
  height: 40px;            
  width: auto;
  cursor: pointer;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.filters select {
  padding: 10px;
  border: 2px solid #a30000;
  border-radius: 5px;
  font-weight: bold;
  color: #a30000;
  background: #fff;
}

.charts {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

.chart {
  width: 45%;
  height: 250px;
  background: #ffeaea;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.advanced-filters, .data {
  margin-top: 20px;
}

.advanced-filters h2, .data h2 {
  color: #a30000;
  margin-bottom: 10px;
}

.advanced-filters select {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 2px solid #a30000;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table, th, td {
  border: 1px solid #a30000;
}

th, td {
  padding: 10px;
  text-align: center;
}
